.is-hidden {
    display: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    background: var(--color-secondary);
    position: relative;
    min-height: 100vh;
    padding-bottom: 77px;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
