.footer {
    color: $footerTextColor;
    background-color: $secondaryBackgroundColor;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.15;
    // .container {
    //     display: flex;
    //     justify-content: center;
    // }
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    margin-top: -10px;
    margin-left: -5px;
    height: 100px;
    .item {
        margin-top: 10px;
        margin-left: 5px;
    }
    @include for-size(tablet) {
        // width: 768px;
        height: 77px;
        font-size: 16px;
        line-height: 1.19;
    }
}

.icon-heart {
    margin-left: 10px;
    margin-right: 10px;
    fill: $secondaryAccentColor;
}

// добавление кнопки scrollUp
.back_to_top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 100;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 40px;
    background-image: url('./images/arrowUp.png');
    background-size: contain;
    cursor: pointer;
    border-radius: 50%;
    display: none;
    opacity: 0.5;
    @include for-size(tablet) {
        width: 50px;
        height: 50px;
        bottom: 125px;
        right: 30px;
    }
}
.back_to_top:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.back_to_top-show {
    display: block;
}
