.header {
    outline: 1px solid black;
    background-repeat: no-repeat;
}
.header-conteiner-page {
    padding-top: 46px;
    padding-left: 21px;
    padding-right: 20px;

    @include for-size(tablet) {
        padding-top: 41px;
        padding-left: 71px;
        padding-right: 76px;
    }
    @include for-size(desktop) {
        padding-top: 46px;
        padding-left: 71px;
        padding-right: 71px;
    }
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 27px;
}
.logo-link {
    display: flex;
    text-decoration: none;
    align-self: baseline;
    align-items: baseline;
}
.icon-logo {
    background-image: url('./images/header/filmoteka-icon.svg');
    width: 24px;
    height: 24px;
}
.title-logo {
    display: none;
    @include for-size(tablet) {
        margin-left: 12px;
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: $primaryText;
        font-size: 30px;
        line-height: 1.17;
        color: $secondaryColor;
    }
}
.nav-pages {
    display: block;
    justify-content: space-between;
    text-transform: uppercase;
}
.nav-pages-link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: $primaryText;
    font-size: 12px;
    line-height: 1.17;
    color: $secondaryColor;
    position: relative;

    &:first-child {
        margin-right: 40px;
    }
}
.action::after {
    content: '';
    display: block;
    width: 100%;
    background: $secondaryAccentColor;
    border-radius: 3px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -2px;
}


/*------HOME------*/
.page-home-header {
    height: 230px;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
        ),
        url('./images/header/page-1.jpg');
    background-repeat: round;
}
.search {
    width: 280px;
    margin: 0 auto;
    border-bottom: 0.5px solid $secondaryColor;
    outline: none;

    @include for-size(tablet) {
        width: 336px;
    }
}
.input {
    width: 100%;
    padding: 4px;
    border: none;
    background: none;
    font-family: Roboto;
    font-weight: $secondaryText;
    font-size: 14px;
    line-height: 1.14;
    color: $secondaryColor;
}
input::-webkit-input-placeholder {
    font-family: Roboto;
    font-weight: $secondaryText;
    font-size: 14px;
    line-height: 1.14;
    color: $secondaryColor;

}
.input-icon {
    background-image: url('./images/header/search-icon-header.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}


/*-----LIBRARY-----*/
.page-library-header {
    height: 230px;
    background-repeat: round;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
        ),
        url('./images/header/page-2.jpg');
}
.page-library{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.header-btn{
    width: 136px;
    height: 44px;
    text-align: center;
    font-family: Roboto;
    font-weight: $primaryText;
    font-size: 12px;
    line-height: 1.33;
    color: $secondaryColor;
    cursor: pointer;
    background: none;
    border: 1px solid $secondaryColor;
    box-sizing: border-box;
    border-radius: 5px;

    &:first-child{
        margin-right: 20px;
    
        @include for-size(tablet) {
            margin-right: 15px;
        }
    }
}
.header-btn:hover,
.header-btn:focus{
    background: $secondaryAccentColor;
    border: none;
}

