#pagDiv {
 color: #000;
    box-sizing: border-box;
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    #pagDiv {
        padding-top: 50px;
    }
}
@media screen and (min-width: 1024px) {
    #pagDiv {
        padding-top: 46px;
    }
}

.repos-pagination__link {
    text-decoration: none;
    color: var($primaryAccentColor);
    transition: all 0.3s;
}

.repos-pagination__link:hover {
    color: var($primaryAccentColor);
}

.repos-pagination__link,
.repos-pagination__dots {
    padding-right: 0.8rem;
}

.right {
    margin-right: 10px;
    transform: rotate(180deg);
    border-radius: 5px;
}
#arrow-left {
    cursor: pointer;
    border-radius: 5px;
}
.active-page {
    display: block;
    padding-top: 10px;
    padding-left: 12px;
    margin-right: 16px;

    width: 40px;
    height: 40px;
    background: url('./images/curentPage.jpg');
    border-radius: 5px;
    color: white;
}
#first {
    margin-left: 16px;
}
.btnRight {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url('./images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: none;
    margin-right: 16px;
}
.btnRight.right{
    margin-right: 10px;
}