.students-list-total {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;

    color: #000;
    // overflow: hidden;
    // overflow-y: scroll;
    @include for-size(tablet) {
        margin-left: -30px;
    }
    @include for-size(tablet) {
        margin-left: -15px;
    }
}

.students-item {
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: $primaryBackgroundColor;
    margin-top: 15px;

    @include for-size(tablet) {
        align-self: flex-start;
        flex-basis: calc(100% / 2- 15px);
        margin-top: 15px;
        margin-left: 25px;
    }
    @include for-size(desktop) {
        flex-basis: calc(100% / 3- 15px);
    }
}

.students-image-wrapper {
    overflow: hidden;

    width: 250px;
    height: 250px;
    @include for-size(tablet) {
        height: 250px;
    }
    @include for-size(desktop) {
        height: 300px;
    }
}

.students-card-content {
    margin-bottom: 20px;
    border-radius: 5px;
}

.students-title {
    @include card-title();
    padding-left: 10px;
    width: 250px;
    &:last-child {
        color: $secondaryAccentColor;
    }
}

.backdrop {
    @include backdrop();

    overflow-y: scroll;
}
.scroll-hidden {
    @include scroll-hidden();
}

.modal-window-students {
    @include modal-window();
    // overflow: hidden;
    // overflow-y: scroll;
}

.img-stud-1 {
    background-image: url('./images/students/yesin.jpg');
    background-size: cover;
}
.img-stud-2 {
    background-image: url('./images/students/deputat.jpg');
    background-size: cover;
}
.img-stud-3 {
    background-image: url('./images/students/serdiuk.jpg');
    background-size: cover;
}
.img-stud-4 {
    background-image: url('./images/students/abramova.jpg');
    background-size: cover;
}
.img-stud-5 {
    background-image: url('./images/students/khmara.jpg');
    background-size: cover;
}
.img-stud-6 {
    background-image: url('./images/students/myrvoda.jpg');
    background-size: cover;
}
