.students-list-total {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    @include for-size(tablet) {
        margin-left: -30px;
    }
    @include for-size(tablet) {
        margin-left: -15px;
    }
}

.students-item {
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);

    // color: $secondaryColor;
    background-color: $primaryBackgroundColor;
    margin-top: 15px;
    // margin-left: 15px;

    @include for-size(tablet) {
        align-self: flex-start;
        flex-basis: calc(100% / 2- 15px);
        margin-top: 15px;
        margin-left: 25px;
    }
    @include for-size(desktop) {
        flex-basis: calc(100% / 3- 15px);
    }
}

.students-image-wrapper {
    overflow: hidden;

    width: 250px;
    height: 250px;
    @include for-size(tablet) {
        // width: 250px;
        height: 250px;
    }
    @include for-size(desktop) {
        // width: 250px;
        height: 300px;
    }
}

.students-card-content {
    margin-bottom: 20px;
    border-radius: 5px;
}

.students-title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 10px;
    font-weight: 500;
    line-height: 1.18;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:last-child {
        color: $secondaryAccentColor;
    }
}

.backdrop {
    transition: all 300ms linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    overflow-y: scroll;
}
.scroll-hidden {
    overflow: hidden;
}

.modal-students-window {
    width: 280px;
    position: relative;
    margin: 10px auto;
    padding: 48px 20px 41px 20px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;

    @include for-size(tablet) {
        width: 618px;
        max-height: 95%;
        display: flex;
        padding: 42px 28px 40px 28px;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    @include for-size(desktop) {
        width: 882px;
        padding: 50px 30px 40px 30px;
    }
}
