// основной текст
$primaryTextColor: #000;

//bg основного блока
$primaryBackgroundColor: #e5e5e5;

// текст в хедере, на кнопках, bg модалки
$secondaryColor: #fff;

//текст футера
$footerTextColor: #545454;

//текст списка в модалке(Popularity, Genre...)
$modalTextColor: #8c8c8c;

//bg footer, фон стрелок право/лево, bg Votes в модалке (фон за числом 1260)
$secondaryBackgroundColor: #f7f7f7;

// кнопка модалки, bg рейтинга, описание жанров фильма в карточке
$primaryAccentColor: #ff6b01;

// сердце, bg номера страницы, подчеркивание в хедере
$secondaryAccentColor: #ff6b08;

// лого
$logoColor: #818181;

// ошибка при поиске в хедере
$searchErrorColor: #ff001b;

// основной шрифт
$primaryText: 500;


//дополнительный шрифт 
$secondaryText: 400;