<ul class="footer-list list">
    <li class="item">&copy; 2021 | All Rights Reserved |</li>
    <li class="item">
        Developed with
        <span class="icon-heart">
            <svg width="14px" height="14px" aria-label="heart">
                <use href="{{this}}#icon-heart"></use>
            </svg>
        </span>
        by <a href="" class="link students-list">GoIT Students</a>
    </li>
</ul>

{{!-- добавление кнопки scrollUp --}}
<a class="back_to_top" title="Page_UP"></a>