<div id="one">
    <a href="#" class="repos-pagination__link" id="first">{{page}}</a>
    <button type="button" class="btnRight right"><svg src="./images/icons/arrow-left.svg" width=20 height=20
            id="inc"></svg></button>
</div>