<div class="header-page-first">
    <form action="" method="post" class="search">
        <input type="text" name="query" autocomplete="off" placeholder="Поиск фильмов" class="input" />
        <input type="submit" name="" value="" class="submit" />
    </form>
</div>
<div class="header-page-second">
    <button type="button" class="btn is-hidden" data-action="watched">
        <span class="label">WATCHED</span>
    </button>
    <button type="button" class="btn is-hidden" data-action="queue">
        <span class="label">QUEUE</span>
    </button>
</div>