<div class="page-home-header header-conteiner-page">
    <nav class="navigation">
        <a class="logo-link" href="../index.html">
            <span class="icon-logo"><svg width="24" height="24">
                    {{!-- <use href="../images/icons.svg#icon-logo-film"></use> --}}
                </svg></span>
            <span class="title-logo">Filmoteka</span>
        </a>
        <div class="nav-pages">
            <a class="nav-pages-link action" href="#header-container">HOME</a>
            <a class="nav-pages-link" href="#content">MY LIBRARY</a>
        </div>
    </nav>
    <div class="page-home">
        <form action="" method="post" class="search">
            <input type="text" name="query" autocomplete="off" placeholder="Поиск фильмов" class="input" />
            <input type="submit" name="" value="" class="submit" />
        </form>
    </div>
</div>