<div class="header-page-second">
    <button type="button" class="btn is-hidden" data-action="watched">
        <span class="label">WATCHED</span>
    </button>
    <button type="button" class="btn is-hidden" data-action="queue">
        <span class="label">QUEUE</span>
    </button>
</div>
