<div>
      <button type="button" class="btnRight" id="dec"></button>       
</div>
        <a href="#" class="repos-pagination__link">1</a>
        <span class="repos-pagination__dots">...</span>      
        <a href="#" class="repos-pagination__link" id="#pagNext">2</a>
        <a href="#" class="repos-pagination__link" id="#pagNext2">3</a>
        <a href="#" class="repos-pagination__link" id="#pagPrev">4</a>
        <a href="#" class="repos-pagination__link" id="#pagPrev2">5</a>
        <a href="#" class="repos-pagination__link" id="#pagPrev2">6</a>
        <span class="repos-pagination__dots">...</span>
        <a href="#" class="repos-pagination__link">{{pageNext20}}</a>
<div>
     <button type="button" class="btnRight right" id="inc"></button>       
</div>