 <object id="dec">
      <button type="button" class="btnRight"><svg src="{{this}}#icon-arrow-left" width=20 height=20 id="arrow-left"></svg></button>       
</object>
        <a href="#" class="repos-pagination__link">1</a>
        <span class="repos-pagination__dots">...</span>      
        <a href="#" class="repos-pagination__link" id="#pagNext">2</a>
        <a href="#" class="repos-pagination__link" id="#pagNext2">3</a>
        <a href="#" class="repos-pagination__link" id="#pagPrev">4</a>
        <a href="#" class="repos-pagination__link" id="#pagPrev2">5</a>
        <a href="#" class="repos-pagination__link" id="#pagPrev2">6</a>
        <span class="repos-pagination__dots">...</span>
        <a href="#" class="repos-pagination__link">{{pageNext20}}</a>
<object id="inc">
     <button type="button" class="btnRight right"><svg src="{{this}}#icon-arrow-right" width=20 height=20 id="inc"></svg></button>       
</object> 