@import './sass/modern-normalize.min.css';
@import './sass/mixsin';
@import './sass/container';
@import './sass/common';
@import './sass/variables';

@import './sass/header';
@import './sass/content';
@import './sass/pagination';
@import './sass/footer';
@import './sass/modal';

@import './sass/students';
